node_modules
Ejercicios/10-vscode-debug/package-lock.json
Ejercicios/10-vscode-debug/package.json
Ejercicios/11-unit-test/.nyc_output/processinfo/d1bc3499-7ed6-4f89-a1c5-7ec950aa67b6.json
Ejercicios/11-unit-test/.nyc_output/d1bc3499-7ed6-4f89-a1c5-7ec950aa67b6.json
Ejercicios/11-unit-test/.nyc_output/df2446b6-b19f-4f33-8e86-86442b02c85a.json
Ejercicios/11-unit-test/.nyc_output/processinfo/df2446b6-b19f-4f33-8e86-86442b02c85a.json
Ejercicios/11-unit-test/.nyc_output/processinfo/index.json
Ejercicios/11-unit-test/.scannerwork/.sonar_lock
